# Welcome!

Welcome to the first session organized by Analytics Club, CFI!

## Today's Content

- Python
    - Conditional Statements
    - Loops
    - Functions
    - Classes
- Pytorch
- Linear Regression

---

# Data Types

* Variables are classified using data types. Each data type gives a variable different properties.

* Unlike some high-level programming languages, there is no necessity to specify the data type in python. It automatically classifies the variable according to its content

* Using data types lets us know what is expected from each variable, and each data type behaves uniquely.



The most commonly used data types are :

* Numeric: 
    * int       (integers)
    * float     (decimal values)

* strings    (characters, words and sentences)

* bool       (boolean values, i.e. True or False)

* Sequential Data Types (Structures):
    * list
    * tuple
    * range 

* Structured Data Structures:
    * set        (Sets)
    * dict       (Dictionaries)

## Numeric

* int       (integers)
* float     (decimal values)

In [ ]:
x = 10

print(x)
print("Type of x: ", type(x))

In [ ]:
y = 10.58

print(y)
print("Type of y: ", type(y))

### Arithmetic Operators

1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
5. Modulus(%)
6. Exponent(**)

In [ ]:
a = 58
b = 6

print('a Plus b = ', a + b)
print('b Minus a = ', a - b)
print('a Times b=', a * b)
print('a Divided by b = ', a//b)
print('a Modulo b = ', a%b)
print('a Squared = ', a**2 )

Auto conversion from one data type to another. \\

Usually, type conversion takes place from a lower type to a higher type. For example **int** to **float**

In [ ]:
z = x + y

print(z)
print("Type of z: ", type(z))

###Comparison Operators

1.    Check equality (== )
2.    Check inequality(!= or <>)
3.    Greater than (>)
4.    Less than(<)
5.    Greater than or equal to (>=)
6.    Less than or equal to (<=)

When used in expressions,  the truth value of the expression returned.

In [ ]:
a = 5
b = 6

print("Is a equal to b ? ", a==b)
print("Is a not equal to b ? ", a!=b)
print("Is a greater than b? ", a>b)
print("Is a less than b? ? ", a<b)
print("Is a greater than or equal to b? ", a>=b)
print("Is a less than or equal to b? ", a<=b)

## String

* characters
* words
* sentences

In python, all the three mentioned can be stored in a single data type called string.

In [ ]:
s = "abc"

print(s)
print(type(s))

In [ ]:
s = 'India'

print(s)
print(type(s))

In [ ]:
s = "Welcome to Analytics Club"

print(s)
print(type(s))

In [ ]:
print("Statement")

### String Concatenation

Like numbers, two strings can be added. The resultant is nothing but the two strings put back to back.

In [ ]:
s1 = "This is to show "
s2 = "that two strings can be added together."

print(s1+s2)

In [ ]:
s1 = "What happens when we "
s2 = "subtract two strings?"

print(s1-s2)

### Split and Strip

In [ ]:
s1 = "What happens when we                        "
s2 = "    subtract two strings?"

In [ ]:
s1.strip().split("happens")

In [ ]:
s1.strip()

In [ ]:
s2.strip()

Get the individual text

In [ ]:
s1.strip().split(" ")

## Bool

In [ ]:
p = True

print(p)
print(type(p))

In [ ]:
q = False

print(q)
print(type(q))

Basically in any programming language, 
* True is treated as 1
* False is treated as 0

In [ ]:
print("p + q = ", p + q)
print("p - q = ", p - q)
print("p * q = ", p * q)

## Lists

List is a collection of several variables, not necessarily of the same type.

In [ ]:
l = [0, 1, 2, 3, "a", "b", False]

# Unlike other high-level programming languages, lists can be printed easily
print(l)
print("Length of List:", len(l))
print(type(l))

Accessing the items in a list. The items are numbered starting from 0.

In [ ]:
print(l[0])
print(type(l[0]))

print(l[4])
print(type(l[4]))

In [ ]:
# What do you think will happen if we pass a negative index?

print(l[-3])
print(type(l[-3]))

Copying Lists

In [ ]:
x = 5
y = x

print(y)

In [ ]:
a = list(range(1, 11, 1))
b = a

b[4] = 25

print('The array b: ', b)
print('The array a: ', a)

In [ ]:
a = list(range(1, 11, 1))
b = a.copy()

b[4] = 25

print('The array b: ', b)
print('The array a: ', a)

In [ ]:
a = list(range(1, 11, 1))
b = a[:]

b[4] = 25

print('The array b: ', b)
print('The array a: ', a)

Reversing Lists

In [ ]:
a = list(range(1, 26, 1))
b = a[::-1]

print('The array b: ', b)
print('The array a: ', a)

### Sorting

In [ ]:
l = [37, 8, 54, 18, 23, 45, 76, 15, 74, 48, 85, 21]

print(l)

In [ ]:
m = sorted(l)

print(m)

In [ ]:
print(l.sort())

In [ ]:
print(l)

---

In [ ]:
l = [37, 8, 54, 18, 23, 45, 76, 15]

print(l)

In [ ]:
# Sort in descending order

m = sorted(l, key = lambda x: -x)

print(m)

## Tuples
A tuple is a collection of entries which are ordered in the same way as lists but cannot be changed.

All the regular list operations apply to tuples except for those which attempt to change it's own value

In [ ]:
# Let us define a tuple

tup_a = (1,2,3,4,5,6)

print(tup_a)

Let us try changing the entry of a tuple and see what happens

In [ ]:
tup_a[2] = 42

Oh no, it errored out :(
  
But this was expected right?

In [ ]:
# Make a new list e which has double the values of tuple a and select the 3rd till 5th element (both inclusive) of both list b and tuple tup_a to compare

e = [2*x for x in tup_a]

print(e[2:5])
print(tup_a[2:5])

## Sets
A collection of items that is both unordered and unindexed and doesn't allow duplicate values is called a set. Its main usage is to store multiple items in a single variable.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset) 

#Another way to define it
thisset = set(["apple", "banana", "cherry"])
print(thisset)

Well now that we know how to define a set let's go ahead and see some set operations

In [ ]:
one=set([4,5,6,7,1,2,3]) 
two=set([4,5,3,2,1,2]) 
 
print("The sets: ", one, two)
print ("Intersection: ",one & two) 
print ("Union: ",one | two) 
print("Difference: ",one - two)

As you can see with set two, the value which was repeated has got deleted while creating the set

# Dictionaries

A dictionary is a collection of key value pairs which is ordered, changable and does not allow duplicate members. 

Too much terminology which doesn't make sense?

Don't worry about it! Let's consider an analogy. 

What do you do when you save your close friend Aryans's phone number on your phone? You type in their name followed by their phone number so that when they call you, you don't just see 10 digits staring at your face but instead see your friend's name. Well while saving that friend's number you have essentially created a dictionary!!!!

You have used the friend's name as the key and his/her phone number as the value in the key value pair of the dictionary

In [ ]:
phone_num = {'Archish': 123456789}  # This is just a random number I typed which starts with 9 please don't call this number, I don't even know if it's valid.

print(phone_num)

You go on and meet another friend of yours whose name is Archish. He gives you his number so once again you save this number

In [ ]:
phone_num['Aryan'] = 987654321  # You can make a new entry by mentioning the key and the value as shown

print(phone_num)

While you were talking to Archish, somewhere in the conversation Archish tells you that very recently he had switched his phone and he lost all his contacts. He asks you to give him Aryans's number as they too are good friends. But wait none of us actually remember all our friends numbers do we? :P

Well the dictionary you created can be used for this purpose!

In [ ]:
print( phone_num['Archish'] )

While you're talking Archish who is a little absent minded suddenly remembers that he gave you his old phone number by mistake and now wants you to save his new number. Well how do we do that with dictionaries?

In [ ]:
phone_num['Aryan'] = 483749379837   # It's that simple!

print(phone_num)

And while he's at it, he asks you to also save his email ID just in case something goes wrong. Well you might be thinking how do we do that? 

Did you know that python also allows us to make a dictionary inside a dictionary?

In [ ]:
phone_num['Archish'] = {'number': 2740740740, 'email': 'email@abc.com'}

print(phone_num)

# Conditional Statements

Conditional Statements are used in decision making.

## If Statements

These make use of test expressions, logical operations that evaluate to TRUE or FALSE - *if* the expression is true, the part indented below the **if** expression is executed. Otherwise, it is ignored.

In [ ]:
a = 6
b = 6

if a == b:
    print("a equal to b")
    print("Something")

if a != b:
    print("a not equal to b")

    print("something")

    print("something outside")

## If-Elif-Else Statements

The use of **else** and **elif** can be somewhat intuitively understood by the following code.

In [ ]:
a = 6
b = 6

if a == b:
    print("a equal to b")
else:
    print("a not equal to b")

In [ ]:
a = 55
b = 6

if a == b:
    print("a equal to b")
elif a>b:
    print("a greater than b")
elif a<b:
    print("a less than b")

# Loops

Loops are used to run the same piece of code multiple times.

In [ ]:
print('Welcome to Analytics Club')
print('Welcome to Analytics Club')
print('Welcome to Analytics Club')
print('Welcome to Analytics Club')
print('Welcome to Analytics Club')

In [ ]:
for i in range(20):
    print(i, 'Welcome to Analytics Club')

As you can see, both lines of code performs exactly the same function. \\

But the second one, performs it in an efficient manner. That is, we need not repeat the same piece of code multiple times. For instance, a 1000 times?

### For Loop

We have to specify the number of times, code must be executed.

In [ ]:
for i in range(10):
    print(i)

Consider,

``` 
for i in range(a, b, c):
    ...
    ...
```

We iterate from $a \leq i < b$ and increase $ i \rightarrow i + c $

In [ ]:
for i in range(55, 10, -5):
    print(i)

# Functions

* Functions are modules of code that accomplish a specific task. 
* A function executes only when it is called.
* Functions usually take inputs (data), process it, and output (or return) result. Once a function is written, it can be used over and over again.

In [ ]:
def add(a, b):
    return (a+b)

In [ ]:
print(add(6, 9))

Why do we need functions?

If we need to a set of codes multiple times, Functions saves us the time and also makes the code more elegant.

In [ ]:
def is_prime(n):
    prime = True
    for i in range(2, n):
        if n % i == 0:
            prime = False
            break
    return prime

In [ ]:
for n in range(2, 50):
    if is_prime(n):
        print(n)

# Classes

- A class is a blueprint for an object.

- It is a way to bundle data (even of different data types) together. 
- Each variable or piece of data is known as an attribute of the class.

- In addition, a class can have functions associated with it called methods.

A n object is an instance of a class.

In [ ]:
class Number():
    def __init__(self, value, power=1e-3):
        self.value = value
        self.power = power
    
    def __str__(self):
        return str(self.value*self.power)

    def update(self, value):
        self.value = value

In [ ]:
number = Number(466)

print(number)

Using classes to represent a vector

In [ ]:
import math

In [ ]:
class Coordinates():
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def get(self):
        return (self.x, self.y)

    def get_distance(self, point):
        return math.sqrt( (self.x-point.x)**2 + (self.y-point.y)**2 )

In [ ]:
class Vector():
    def __init__(self, start, end):
        self.start = Coordinates(start[0], start[1])
        self.end = Coordinates(end[0], end[1])

    def get_magnitude(self):
        return self.start.get_distance(self.end)

    def get_orietation(self):
        return math.atan((self.end.y - self.start.y)/(self.end.x - self.start.x)) * 180/math.pi

In [ ]:
vector = Vector(start=(0,0), end=(5,5))

print("Magnitude of the Vector: ", vector.get_magnitude())
print("Orietation of the Vector: ", vector.get_orietation())

### Inheritance

The cleass `Student` inherits both the attributes and the methods of the parent class `Name`.

In [ ]:
class Name():
    def __init__(self, first, last):
        self.first = first
        self.last = last

    def __str__(self):
        return f"{self.first} {self.last}"

In [ ]:
class Student(Name):
    def __init__(self, first, last, grade):
        Name.__init__(self, first, last)
        self.grade = grade

    def get(self):
        print(f"Name: {self.first} {self.last}")
        print(f"Class: {self.grade}")

In [ ]:
student = Student("John", "Doe", 8)

student.get()

What about the methods?

In [ ]:
print(student)

In [ ]:
class Employee(Name):
    def __init__(self, first, last, id):
        super().__init__(first, last)
        self.id = id

    def get(self):
        print(f"Name: {self.first} {self.last}")
        print(f"ID: {self.id}")

In [ ]:
employee = Employee("Jane", "Doe", "1234")

employee.get()

# NumPy

In [ ]:
import numpy as np

Creating a list of the first 100 non negative integers in python as well as in numpy

In [ ]:
y = list(range(100))
print(y)

In [ ]:
x = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]) 
print(x)

In [ ]:
# Wait, what if we need an array of numbers 0 to 100? 

x = np.arange(100)
print(x)

Arithmetic Operations

Suppose you want to add one to every element of the array

For a numpy array we can directly do this

In [ ]:
x = x + 1

print(x)

Let's try the same thing for a list

In [ ]:
 y = y + 1

 print(y)

 Suppose you want to multiply every element of the array by 2

In [ ]:
x = x * 2

print(x)

Multiplying two arrays

In [ ]:
x = np.arange(10)
y = np.arange(10)

print(x*y)

## Nd-arrays

In [ ]:
a = np.array([[1,2,3],
              [4,5,6],
              [7,8,9],
              [10,11,12]])
print(a)

In [ ]:
b = [[1,2,3],
    [4,5,6],
    [7,8,9],
    [10,11,12]]
print(b)

In [ ]:
print(a.shape)

In [ ]:
print(b.shape)

In [ ]:
b = np.array(b)
print(b)

In [ ]:
a = a.reshape(3,4)
print(a)

In [ ]:
a = a.reshape(-1,6)
print(a)

## Matrix Operations

In [ ]:
I = np.identity(3)

print(I)

In [ ]:
a = np.random.rand(3,3)

print(a)

Element-wise Multiplication

In [ ]:
print(a*I)

Matrix Multiplication

In [ ]:
print(np.matmul(a, I))

In [ ]:
print(a@I)

# Pytorch

In [ ]:
import numpy as np
import torch

In [ ]:
x = torch.tensor([1,2,3,4,5])
print(x)

In [ ]:
x = np.arange(100)
print(type(x))

x = torch.tensor(x)
print(type(x))
print(x.size())

## Resizing Tensors

In [ ]:
x = torch.arange(105)
print(x)
print(x.size())

In [ ]:
y = x.reshape((5, 21))
print(y)

In [ ]:
z = x.reshape((5, 3, 7))
print(z)

In [ ]:
w = x.view((3, 35))
print(w)

When to use `Tensor.view` and when to use `Tensor.reshape`?

`Tensor.view` works only when the tensor is contiguous. Where as `Tensor.reshape` (may) creates a new instance of the tensor and therefore can be used universally.

### Permute

In [ ]:
w = z.permute((1, 0, 2))
print(w)
print(w.size())

In [ ]:
w = torch.moveaxis(z, 1, 0)
print(w)
print(w.size())

### Flatten

In [ ]:
print(w.size())

u = torch.flatten(w, 1, 2)
print(u.size())

In [ ]:
print(u)

In [ ]:
print(w.size())

u = torch.flatten(w)
print(u.size())

In [ ]:
print(u)

##Operations

In [ ]:
# Suppose you want to add one to every element of the array

x = x + 1

print(x)

In [ ]:
x = x + x

print(x)

In [ ]:
x = x * 2

print(x)

### Multiplying two arrays

In [ ]:
x = torch.randint(low=1, high=3, size=(2, 3))
print(x)

In [ ]:
y = torch.randint(low=1, high=3, size=(2, 3))
print(y)

In [ ]:
z = x*y
print(z)

---

In [ ]:
print(x.size())
print(y.size())


z = torch.matmul(x, y.T)

print(z)
print(z.size())

In [ ]:
print(x.size())
print(y.size())


z = x@y.T

print(z)
print(z.size())

### Maximum element in a tensor

In [ ]:
x = torch.randint(low=1, high=500, size=(100,))
print(x)

print(torch.max(x))
print(torch.argmax(x))

In [ ]:
print(x[21])

In [ ]:
x = torch.randint(low=1, high=500, size=(100,)).view(10, 10)
print(x)

print(torch.max(x, dim=1).values)
print(torch.argmax(x, dim=1))

# Linear Regression
 

![image.png]()

Linear regression attempts to model the relationship between two (or more) variables by fitting a linear equation to observed data.  

In the case of two variables, the parameters $m$ and $c$ define the line equation ${y} = {mx} + {c}$ and hence the goal of the model is to find the optimal values of and $m$ and $c$ such that the given data is best fit, where we try to minimize the error between the predicted and true values.

In the best fit, we try minimizing the error between the predicted and true values. This is the criterion used to evaluate how well a model fits the data, and this criterion can be modelled as the cost function.

We try minimizing the error between the predicted and true values. This is the criterion used to evaluate how well a model fits the data, and this criterion can be modelled as the cose function. Cost function determines the deviation from true values, we find $m$ and $c$ such that this function is minimum. The best fit for our model when our cost function is at the minima.


Gradient Descent is an iterative optimization algorithm to find the minimum of a function.

For the example, \\
 $$ y = mx + c $$

Consider the Loss function as 
$$ \mathscr{L} \left( m, c \right) = \frac{\sum_{n} \left( y_{actual} - y_{predicted} \right)^2}{n} $$

We update the values of $m$ and $c$ as (where $\alpha$ is the learning rate)

$$ m \rightarrow m - \alpha \frac{\partial}{\partial m} \mathscr{L} \left( m, c \right) $$
$$ c \rightarrow m - \alpha \frac{\partial}{\partial c} \mathscr{L} \left( m, c \right) $$

In [ ]:
x = torch.rand((1,), requires_grad=True)

y = 5*x + 3

In [ ]:
y.backward()

In [ ]:
x.grad

---

In [ ]:
x = torch.rand((5, 3), requires_grad=False)
y = torch.rand((5, 1), requires_grad=False)

a = torch.rand((1, 3), requires_grad=True)
b = torch.rand((1, 1), requires_grad=True)

# y = a*x + b

In [ ]:
print(x)
print(y)

In [ ]:
y_pred = x@a.T + b
print(y_pred)

In [ ]:
loss = torch.mean((y-y_pred)**2)
print(loss)

In [ ]:
loss.backward()

In [ ]:
with torch.no_grad():
    a = a - 0.01*a.grad
    b = b - 0.01*b.grad

In [ ]:
y_pred1 = x@a.T + b
print(y_pred1)

loss = torch.mean((y-y_pred1)**2)
print(loss)

---

As a fun learning task, by pass the use of `nn.criterion` or `torch.optim` and implement the full forward and back propogation for the same task. Call the primitives until the optimal minima is reached.

---

In [ ]:
import torch
import torch.nn as nn
import torch.optim as optim

import matplotlib.pyplot as plt
import time
import tqdm

In [ ]:
class LinearRegression(nn.Module):
    def __init__(self, dims):
        super(LinearRegression, self).__init__()

        self.linear = nn.Linear(dims, 1, bias=True)

    def forward(self, x):
        return self.linear(x)

In [ ]:
regressor = LinearRegression(dims=3)

criterion = nn.MSELoss()
optimizer = optim.SGD(regressor.parameters(), lr=0.01)

In [ ]:
y_pred = regressor(x)
print(y_pred)

optimizer.zero_grad()

loss = criterion(y_pred, y)
print(loss.item())

loss.backward()
optimizer.step()

In [ ]:
y_pred = regressor(x)

loss = criterion(y_pred, y)
print(loss.item())

In [ ]:
train_loss = []

for epoch in range(10):
    y_pred = regressor(x)
    optimizer.zero_grad()

    loss = criterion(y_pred, y)
    train_loss.append(loss.item())

    loss.backward()
    optimizer.step()

plt.plot(train_loss)

---

In [ ]:
train_loss = []

for epoch in range(10000):
    y_pred = regressor(x)
    optimizer.zero_grad()

    loss = criterion(y_pred, y)
    train_loss.append(loss.item())

    loss.backward()
    optimizer.step()

plt.plot(train_loss)

In [ ]:
x = torch.rand((500, 15000))
y = torch.rand((500, 1))

In [ ]:
regressor = LinearRegression(dims=15000)

criterion = nn.MSELoss()
optimizer = optim.SGD(regressor.parameters(), lr=1e-6)

In [ ]:
start = time.time()

train_loss = []

for epoch in tqdm.trange(10000):
    y_pred = regressor(x)
    optimizer.zero_grad()

    loss = criterion(y_pred, y)
    train_loss.append(loss.item())

    loss.backward()
    optimizer.step()

end = time.time()

print(f"Time taken: {(end-start)/60} mins")

plt.plot(train_loss)

Time taken: 7.934232886632284 mins

---

In [ ]:
device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')

In [ ]:
x = x.to(device)
y = y.to(device)

regressor = LinearRegression(dims=15000).to(device)

criterion = nn.MSELoss().to(device)
optimizer = optim.SGD(regressor.parameters(), lr=1e-6)

In [ ]:
start = time.time()

train_loss = []

for epoch in tqdm.trange(10000):
    y_pred = regressor(x)
    optimizer.zero_grad()

    loss = criterion(y_pred, y)
    train_loss.append(loss.item())

    loss.backward()
    optimizer.step()

end = time.time()

print(f"Time taken: {(end-start)/60} mins")

plt.plot(train_loss)

Time taken: 0.43383294343948364 mins

---

In [ ]:
np.random.seed(0)

torch.manual_seed(0)
torch.cuda.manual_seed(0)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
x = torch.linspace(0, 1, 100)

weight = 0.2
bias = 0.1

noise = torch.rand((x.size())) * 0.03

y = weight * x + bias + noise

In [ ]:
plt.scatter(x.cpu(), y.cpu())

In [ ]:
class LinearRegression_2(nn.Module):
    def __init__(self, dims_in, dims_out):
        super(LinearRegression_2, self).__init__()

        self.linear = nn.Linear(dims_in, dims_out, bias=True)


    def forward(self, x):
        return self.linear(x)

In [ ]:
x = x.view(-1, 1).float().to(device)
y = y.view_as(x).to(device)

regressor = LinearRegression_2(dims_in=1, dims_out=1).to(device)

criterion = nn.MSELoss().to(device)
optimizer = optim.Adam(regressor.parameters(), lr=1e-4)

In [ ]:
train_loss = []

for epoch in tqdm.trange(17000):
    y_pred = regressor(x)
    optimizer.zero_grad()

    loss = criterion(y_pred, y)
    train_loss.append(loss.item())

    loss.backward()
    optimizer.step()

In [ ]:
y_pred = regressor(x)

plt.scatter(x.cpu(), y.cpu())
plt.plot(x.cpu(), y_pred.detach().cpu(), color='r')

In [ ]:
print(f'Weight: {regressor.linear.weight.item()}')
print(f'Bias: {regressor.linear.bias.item()}')

---

# Whats Next?

Now that we have demonstrated linear regression, think about even complex functions which can be used to fit the distribution. Here is something to help you out.

- [Polynomial Regression](https://towardsdatascience.com/polynomial-regression-bbe8b9d97491)
- [Activation Functions](https://towardsdatascience.com/activation-functions-neural-networks-1cbd9f8d91d6)

What else?

- [Logistic Regression](https://towardsdatascience.com/logistic-regression-detailed-overview-46c4da4303bc)

To know about optimizers and how they work

- [Optimizers](https://towardsdatascience.com/optimizers-for-training-neural-network-59450d71caf6)

# Try it yourself

We will put the solution on the repository after 3 days

In [ ]:
x = torch.linspace(0, 2*torch.pi, 100)

weight = 0.2
bias = -0.1

noise = torch.sin(torch.rand((x.size()))) * 0.05

y = weight * torch.sin(x) + bias + noise

In [ ]:
plt.scatter(x.cpu(), y.cpu())

## Result

<center><h1 style="font-size:10vw">Stay tuned for our upcoming sessions!</h1> </center>